%h1 教学计划: #{@plan.name}
= form @plan

%a{:href => "/plans"} 返回
%a{:href => "/plans/#{@plan.id}/topics/new"} 添加新主题
%a.remove{:href => "/plans/#{@plan.id}"} [删除]

- if @topics.any?
  %h2 现有主题
  %ul
    - @topics.each do |topic|
      %li
        %a{:href => "/topics/#{topic.id}"}= topic.name
        %a.remove{:href => "/topics/#{topic.id}"} [删除]
      
